## {{ release.version.as_tag() }} ({{ release.tagged_date.strftime('%Y-%m-%d') }})

_This release is published under the MIT License._

{% import ".macros.j2" as macros %}
{#- Capture the output of the macro to a variable -#}
{%- set release_body = macros.render_changelog_entry(release.elements) %}

{#- Print the captured output, trimming leading/trailing whitespace to fix spacing issues -#}
{{ release_body | trim }}

{# Get the list of all releases, sorted from newest to oldest to find the previous one #}
{%- set all_releases = context.history.released.values() | list | sort(attribute='version', reverse=true) -%}

{# Check if there are any previous releases to compare against #}
{%- if all_releases -%}
{%- set prev_release = all_releases[0] -%}
{%- set prev_version_tag = prev_release.version.as_tag() -%}
{%- set new_version_tag = release.version.as_tag() -%}

---

**Detailed Changes**: [{{ prev_version_tag }}...{{ new_version_tag }}]({{ prev_version_tag | compare_url(new_version_tag) }})
{%- endif %}
